{% load static %}
<section id="hero" class="hero section light-background">

    <div class="container">
      <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for slide in slides %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <div class="row gy-4 justify-content-center">
                        <div class="col-lg-5 d-flex flex-column justify-content-center">
                            <h1 data-aos="fade-up">{{ slide.title }}</h1>
                            <p data-aos="fade-up" data-aos-delay="100">{{ slide.description }}</p>
                            <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
                                <a href="{{ slide.button_link }}" class="btn-get-started">{{ slide.button_text }}</a>
                                {% if slide.video_url %}
                                    <a href="{{ slide.video_url }}" class="glightbox btn-watch-video d-flex align-items-center">
                                        <i class="bi bi-play-circle"></i>
                                        <span>Watch Video</span>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-5 hero-img" data-aos="zoom-out">
                            <img src="{{ slide.slideImage.url }}" class="img-fluid animated" alt="{{ slide.title }}">
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    </div>

</section>
