{% load static %}
<section id="menu" class="menu section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Our Menu</h2>
      <p><span>Check Our</span> <span class="description-title">Yummy Menu</span></p>
    </div><!-- End Section Title -->

    <div class="container">
      <ul class="nav nav-tabs d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
        {% for FoodCategories in FoodCategory %}
          <li class="nav-item">
            <a class="nav-link {{FoodCategories.status}} show" data-bs-toggle="tab" data-bs-target="#menu-{{FoodCategories.CategoryName}}">
              <h4>{{FoodCategories.CategoryName}}</h4>
            </a>
          </li>
        {% endfor %}
      </ul>
      <div class="tab-content" data-aos="fade-up" data-aos-delay="200">
        {% for FoodMenus in FoodMenu %}
        <div class="tab-pane fade {{FoodMenus.status}} show" id="menu-{{FoodMenus.categoryID}}">
          <div class="tab-header text-center">
            <p>Menu</p>
            <h3>{{FoodMenus.categoryID}}</h3>
          </div>
          
          <div class="row gy-5">
              <div class="col-lg-4 menu-item filter-{{FoodMenus.categoryID}}">
                <a  class="glightbox">
                  <img src="{% static FoodMenus.foodImage %}" class="menu-img img-fluid" alt="">
                </a>
                <h4>{{FoodMenus.foodName}}</h4>
                <p class="ingredients">
                  {{FoodMenus.description}}
                </p>
                <p class="price">
                  ${{FoodMenus.priceOut}}
                </p>
              </div>
            </div>
          </div>
          {% endfor %}
      </div>
    </div>
  </section>